/**
 * _mountain_living.scss
 * 
 * Variables for the Mountain Living color scheme
 * 
 * License:      CC-BY-NC-ND
 * Author:       abbylou2 <www.colourlovers.com/lover/abbylou2>
 * Original URL: http://www.colourlovers.com/palette/3334174/Mountain_Living
 */

$FlatBone: rgb(237,235,230);
$G445: rgb(148,199,182);
$Easy: rgb(214,225,199);
$RigorMortis: rgb(64,59,51);
$Waitress: rgb(164,1,20);

