/**
 * impressum.scss
 * 
 * Minimal stylesheet for the imprint
 * 
 * Colors from flatuicolors.com
 */

@import "compass/css3";
@import "normalize";

/**
 * Variables
 */
$fontSize:        18px;
$fontFamily:      "Source Serif Pro", serif;
$fontColor:       #2c3e50;
$backgroundColor: #ecf0f1;
$secondaryColor:  #95a5a6;

/**
 * border-box
 */
html,
*,
*:before,
*:after {
	box-sizing: border-box;
}

/**
 * CSS rules
 */
html {
	background: $backgroundColor;
	color: $fontColor;
	font: $fontSize $fontFamily;
}

header {
	margin: 0 0 2em;
	text-align: center;
	background: $secondaryColor;
	padding: 1.8em 0 1em;
	
	h1 {
		margin: 0 0 .5em;
		font-size: 2.2em;
		
		a:link, a:visited {
			color: $fontColor;
			text-decoration: none;
		}
		a:hover, a:active {
			text-decoration: underline;
		}
	}
	h2 {
		margin: 0;
		font-size: 1.8em;
	}
}

main {
	width: 30em;
	margin: 0 auto 1.5em;
	max-width: 100%;
	padding: 0 .5em;
	
	h3 {
		font-size: 1.3em;
		font-weight: normal;
		//text-align: center;
		border-bottom: .2em solid $secondaryColor;
	}
	h4 {
		margin: 0 0 .8em;
		font-size: 1.2em;
		font-weight: normal;
		border-bottom: .1em solid $secondaryColor;
	}
	p {
		margin: 0 0 1.2em;
	}
	a:link, a:visited {
		color: $fontColor;
	}
	a:hover, a:active {
		color: $secondaryColor;
	}
}
